:root {
    --boday-color: #ffffff;
    --logo-color: #FF42A5;
    --btn-1: #FF42A5;
    --btn-2: #4EC5F7;
    --nav-link-color: rgba(60, 53, 79, 1);
    --logo-text-color: rgba(11, 2, 35, 1);

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--boday-color);

}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;

}

ul a {
    list-style: none;
    text-decoration: none !important;
    color: var(--nav-link-color);

}

/* header style */
nav {
    display: flex;
    padding: 2.8125rem 0rem;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--logo-text-color);
}

.logo p {
    padding-left: 1.875rem;
    font-size: 2.8125rem;
    font-weight: 700;
}

.logo-span {
    color: var(--logo-color);
}

.nav-link,
.nav-link1,
.nav-link2 {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.125rem;
}

.nav-link1>li,
.nav-link2>li {
    padding-left: 1.5625rem;
}

.nav-link2 {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.625rem 1.875rem 0.625rem 0.5rem;
    margin-left: 1.5625rem;
}

/* goat start  */
.goat {
    display: flex;
    height: 100%;
}

.goat-cl-1 {
    background-image: url("/images/Group 14.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
}

.goat-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-logo {
    font-size: 5.3125rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.goat-ul li {
    margin: 20px;
}

.goat-cl-2 {
    width: 50%;
}

.goat-cl-2 img {
    width: 85%;
}

.btn {
    border-radius: 48px;
    padding: 21px 40px;
    color: #ffffff;
}

.btn:hover {
    cursor: pointer;
}

.btn1 {
    background-color: var(--btn-1);
}

.btn2 {
    background-color: var(--btn-2);
}

/* games card */
.games{
    margin: 2rem 0;
    height: 100%;
} 
.game-head {
    text-align: center;
    margin: 1.5rem 0;
}

.game-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 700;
}

.game-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.game-cards {
    display: flex;
    padding: 0 2rem;
    justify-content: space-around;
}

.card {
    text-align: justify;
}

.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 90%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #aa040a;
    color: white;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 50% 50%;
}

.middle>span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* responsive  start*/

/* mobile responsive */
@media only screen and (max-width: 576px) {

    /* header  */
    nav,
    .nav-link,
    .nav-link1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 30%;
    }

    nav,
    .nav-link,
    .nav-link1,
    .nav-link2 {
        margin: 1.25rem 0px;
    }

    .nav-link1>li {
        margin: 1.25rem 0px;
    }

    /* goat */
    .goat {
        flex-direction: column;
        width: auto;
    }

    .goat-cl-1,
    .goat-cl-2 {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        align-items: center;
    }

    .goat-title {
        font-size: 2rem;
    }

    .goat-logo {
        font-size: 4.5rem;
    }

    /* games card */
    .game-cards {
        flex-direction: column;
    }
    .card{
        text-align: center;
    }

}

/* tab responsive */
@media screen and (min-width: 576px) and (max-width: 768px) {

    /* header */
    nav,
    .nav-link,
    .nav-link1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 30%;
    }

    nav,
    .nav-link,
    .nav-link1,
    .nav-link2 {
        margin: 1.25rem 0px;
    }

    .nav-link1>li {
        margin: 1.25rem 0px;
    }
}